 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1200px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 579px 0 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}@font-face {
  font-family: 'RocletteDisplay-Normal';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/RocletteDisplay-Normal.otf);
}