 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 905px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 30px 0 7px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 0 10px;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 46px 10px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 20px 10px 60px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 905px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 131px 30px 0 7px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 0 10px;
}

.u-section-2 .u-text-3 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 42px 10px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 17px 20px 0 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  margin: 76px 10px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 10px 10px 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 48px 10px 0 30px;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 16px 10px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1491px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 60px 10px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 17px 10px 0;
}

.u-section-3 .u-image-1 {
  width: 426px;
  height: 766px;
  margin: 21px 47px 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: -742px 504px 0 10px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 46px 504px 0 21px;
}

.u-section-3 .u-text-5 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 47px 504px 0 10px;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 60px 504px 0 21px;
}

.u-section-3 .u-text-7 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 82px 504px 0 10px;
}

.u-section-3 .u-text-8 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 17px 504px 0 10px;
}

.u-section-3 .u-text-9 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 68px 10px 0;
}

.u-section-3 .u-gallery-1 {
  height: 375px;
  width: 1120px;
  margin: 30px auto 60px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-gap: 100px 100px;
  grid-template-columns: auto auto auto;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1431px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 17px;
    margin-right: 314px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 314px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 30px;
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 315px;
    width: 940px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1840px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 94px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 94px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 94px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 94px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 94px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 94px;
  }

  .u-section-3 .u-gallery-1 {
    height: 724px;
    width: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2745px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 217px;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
    margin-top: -175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 51px;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 1629px;
    width: 540px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1987px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 611px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -727px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 407px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 196px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -196px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -514px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1026px;
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 549px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 87px 24px 0 12px;
}

.u-section-4 .u-text-2 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 54px 504px 0 10px;
}

.u-section-4 .u-text-3 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 24px 504px 0 10px;
}

.u-section-4 .u-gallery-1 {
  height: 278px;
  width: 489px;
  margin: -192px 0 60px auto;
}

.u-section-4 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1688px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 94px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 94px;
  }

  .u-section-4 .u-gallery-1 {
    height: 626px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3566px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 2504px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2803px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 60px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1741px;
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 2225px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 87px 644px 0 12px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 43px 644px 0 12px;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  margin: 591px 644px 0 12px;
}

.u-section-5 .u-gallery-1 {
  height: 309px;
  width: 1116px;
  margin: 43px auto 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-text-4 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 27px 10px 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  margin: 68px 644px 0 12px;
}

.u-section-5 .u-gallery-2 {
  height: 309px;
  width: 1116px;
  margin: 36px auto 0;
}

.u-section-5 .u-gallery-inner-2 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  margin: 43px 644px 0 12px;
}

.u-section-5 .u-gallery-3 {
  height: 309px;
  width: 1116px;
  margin: 36px auto 60px;
}

.u-section-5 .u-gallery-inner-3 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2079px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 456px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 456px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 456px;
    margin-left: 0;
  }

  .u-section-5 .u-gallery-1 {
    height: 260px;
    width: 940px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 456px;
    margin-left: 0;
  }

  .u-section-5 .u-gallery-2 {
    height: 260px;
    width: 940px;
  }

  .u-section-5 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-5 .u-text-6 {
    margin-right: 456px;
    margin-left: 0;
  }

  .u-section-5 .u-gallery-3 {
    height: 260px;
    width: 940px;
  }

  .u-section-5 .u-gallery-inner-3 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3090px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 236px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 236px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 236px;
  }

  .u-section-5 .u-gallery-1 {
    height: 597px;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-text-5 {
    margin-right: 236px;
  }

  .u-section-5 .u-gallery-2 {
    height: 597px;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-text-6 {
    margin-right: 236px;
  }

  .u-section-5 .u-gallery-3 {
    height: 597px;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-3 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 5328px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 56px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 56px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 56px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1343px;
    width: 540px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-text-5 {
    margin-right: 56px;
  }

  .u-section-5 .u-gallery-2 {
    height: 1343px;
    width: 540px;
  }

  .u-section-5 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-text-6 {
    margin-right: 56px;
  }

  .u-section-5 .u-gallery-3 {
    height: 1343px;
    width: 540px;
  }

  .u-section-5 .u-gallery-inner-3 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3837px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
    margin-right: 0;
  }

  .u-section-5 .u-gallery-1 {
    height: 846px;
    width: 340px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-gallery-2 {
    height: 846px;
    width: 340px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-gallery-3 {
    height: 846px;
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1047px;
}

.u-section-6 .u-text-1 {
  width: auto;
  font-size: 1.875rem;
  margin: 37px 80px 0 12px;
}

.u-section-6 .u-text-2 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 14px 10px 0;
}

.u-section-6 .u-gallery-1 {
  height: 576px;
  width: 1116px;
  margin: 30px auto 0;
}

.u-section-6 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-text-3 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 42px 10px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-gallery-1 {
    height: 485px;
    width: 940px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1585px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1114px;
    width: 720px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2978px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 238px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2507px;
    width: 540px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2049px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 37px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1578px;
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 862px;
}

.u-section-7 .u-text-1 {
  width: auto;
  font-size: 1.875rem;
  margin: 37px 80px 0 12px;
}

.u-section-7 .u-gallery-1 {
  height: 173px;
  width: 539px;
  margin: 37px 12px 0 auto;
}

.u-section-7 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-text-2 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: -160px 570px 0 10px;
}

.u-section-7 .u-gallery-2 {
  height: 173px;
  width: 539px;
  margin: 42px auto 0 590px;
}

.u-section-7 .u-gallery-inner-2 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-text-3 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: -160px 570px 0 11px;
}

.u-section-7 .u-gallery-3 {
  height: 173px;
  width: 1116px;
  margin: 68px auto 60px;
}

.u-section-7 .u-gallery-inner-3 {
  grid-gap: 60px 60px;
  grid-template-columns: auto auto auto;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-7 .u-text-2 {
    margin-right: 380px;
    margin-left: 0;
  }

  .u-section-7 .u-gallery-2 {
    margin-left: 401px;
  }

  .u-section-7 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-7 .u-text-3 {
    margin-right: 381px;
    margin-left: 0;
  }

  .u-section-7 .u-gallery-3 {
    height: 146px;
    width: 940px;
  }

  .u-section-7 .u-gallery-inner-3 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2850px;
  }

  .u-section-7 .u-gallery-1 {
    height: 519px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-7 .u-text-2 {
    margin-top: -506px;
    margin-right: 160px;
  }

  .u-section-7 .u-gallery-2 {
    height: 692px;
    margin-top: 388px;
    margin-left: 181px;
  }

  .u-section-7 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-7 .u-text-3 {
    margin-top: 263px;
    margin-right: 161px;
  }

  .u-section-7 .u-gallery-3 {
    height: 335px;
    width: 720px;
    margin-top: -303px;
  }

  .u-section-7 .u-gallery-inner-3 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 4926px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 3454px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1557px;
    margin-right: 1px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-7 .u-text-2 {
    margin-top: -1544px;
    margin-right: 0;
  }

  .u-section-7 .u-gallery-2 {
    margin-top: 1426px;
    margin-left: 1px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -775px;
    margin-right: 0;
  }

  .u-section-7 .u-gallery-3 {
    height: 754px;
    width: 540px;
    margin-top: 735px;
    margin-bottom: 0;
  }

  .u-section-7 .u-gallery-inner-3 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3776px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 37px;
  }

  .u-section-7 .u-gallery-1 {
    height: 982px;
    width: 340px;
    margin-top: 142px;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-top: -1074px;
  }

  .u-section-7 .u-gallery-2 {
    height: 437px;
    width: 340px;
    margin-top: 851px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-top: -455px;
  }

  .u-section-7 .u-gallery-3 {
    height: 475px;
    width: 340px;
    margin-top: 310px;
    margin-bottom: 60px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1477px;
}

.u-section-8 .u-text-1 {
  width: auto;
  font-size: 1.875rem;
  margin: 37px 80px 0 12px;
}

.u-section-8 .u-text-2 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 12px 10px 0;
}

.u-section-8 .u-gallery-1 {
  height: 402px;
  width: 1120px;
  margin: 30px auto 0;
}

.u-section-8 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-text-3 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 51px 10px 0;
}

.u-section-8 .u-gallery-2 {
  height: 402px;
  width: 1120px;
  margin: 30px auto 0;
}

.u-section-8 .u-gallery-inner-2 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-text-4 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 30px 10px 0;
}

.u-section-8 .u-text-5 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 12px 10px 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1347px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-gallery-1 {
    height: 337px;
    width: 940px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-gallery-2 {
    height: 337px;
    width: 940px;
  }

  .u-section-8 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2221px;
  }

  .u-section-8 .u-gallery-1 {
    height: 774px;
    width: 720px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-8 .u-gallery-2 {
    height: 774px;
    width: 720px;
  }

  .u-section-8 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 4157px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 378px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1742px;
    width: 540px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-8 .u-gallery-2 {
    height: 1742px;
    width: 540px;
    margin-top: 153px;
  }

  .u-section-8 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-8 .u-text-4 {
    margin-top: -1373px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2867px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 37px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1097px;
    width: 340px;
  }

  .u-section-8 .u-gallery-2 {
    height: 1097px;
    width: 340px;
    margin-top: 198px;
  }

  .u-section-8 .u-text-4 {
    margin-top: -833px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1331px;
}

.u-section-9 .u-text-1 {
  width: auto;
  font-size: 1.875rem;
  margin: 37px 80px 0 12px;
}

.u-section-9 .u-text-2 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 12px 10px 0;
}

.u-section-9 .u-gallery-1 {
  height: 379px;
  width: 1120px;
  margin: 37px auto 0;
}

.u-section-9 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-text-3 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 66px 10px 0;
}

.u-section-9 .u-gallery-2 {
  height: 196px;
  width: 1120px;
  margin: 85px auto 0;
}

.u-section-9 .u-gallery-inner-2 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto auto auto;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-text-4 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 49px 10px 0;
}

.u-section-9 .u-text-5 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 13px 10px 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1239px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-gallery-1 {
    height: 318px;
    width: 940px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-gallery-2 {
    height: 165px;
    width: 940px;
  }

  .u-section-9 .u-gallery-inner-2 {
    grid-template-columns: repeat(5, auto);
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2221px;
  }

  .u-section-9 .u-gallery-1 {
    height: 974px;
    width: 720px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-9 .u-gallery-2 {
    height: 421px;
    width: 720px;
  }

  .u-section-9 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 4157px;
  }

  .u-section-9 .u-gallery-1 {
    height: 731px;
    width: 540px;
  }

  .u-section-9 .u-gallery-2 {
    height: 710px;
    width: 540px;
  }

  .u-section-9 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2867px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-9 .u-gallery-1 {
    height: 460px;
    width: 340px;
  }

  .u-section-9 .u-gallery-2 {
    height: 1490px;
    width: 340px;
  }

  .u-section-9 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1541px;
}

.u-section-10 .u-text-1 {
  font-size: 2.25rem;
  margin: 103px 646px 0 10px;
}

.u-section-10 .u-text-2 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 26px 10px 0;
}

.u-section-10 .u-gallery-1 {
  height: 313px;
  width: 1120px;
  margin: 26px auto 0;
}

.u-section-10 .u-gallery-inner-1 {
  grid-gap: 100px 100px;
  grid-template-columns: auto auto;
}

.u-section-10 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-text-3 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 26px 10px 0;
}

.u-section-10 .u-gallery-2 {
  height: 730px;
  width: 462px;
  margin: 56px auto 60px;
}

.u-section-10 .u-gallery-inner-2 {
  grid-gap: 100px 100px;
  grid-template-columns: auto;
}

.u-section-10 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1491px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 456px;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-gallery-1 {
    height: 263px;
    width: 940px;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2527px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 236px;
  }

  .u-section-10 .u-gallery-1 {
    height: 806px;
    width: 720px;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2125px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 56px;
  }

  .u-section-10 .u-gallery-1 {
    height: 605px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1677px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.25rem;
    margin-right: 0;
  }

  .u-section-10 .u-gallery-1 {
    height: 381px;
    width: 340px;
  }

  .u-section-10 .u-gallery-2 {
    height: 537px;
    width: 340px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 651px;
}

.u-section-11 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 644px 0 12px;
}

.u-section-11 .u-text-2 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 19px 12px 0;
}

.u-section-11 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 32px 12px 0;
}

.u-section-11 .u-text-4 {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  margin: 32px 12px 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-right: 456px;
  }

  .u-section-11 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-right: 248px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 80px;
  }

  .u-section-11 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-11 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-11 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-11 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-11 .u-text-3 {
    font-size: 0.75rem;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-11 .u-text-4 {
    font-size: 0.75rem;
    margin-left: 6px;
    margin-right: 6px;
  }
}@font-face {
  font-family: 'RocletteDisplay-Normal';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/RocletteDisplay-Normal.otf);
}